@media all and (max-width: 959px) and (min-width: 768px) {
	.container1__header,
	.container2__about,
	.container3__testimonial,
	.footer__designed {
		width: 100%;
	}

	.container1__header {
		height: 799px;
		border-bottom: 1px solid #33253a;
	}

	.container1__line {
		display: none;
	}


	.header__name {
		margin-left: 10.6%;
	}


	.header__menu {
		float: none;
		width: 100%;
		margin-top: 143px;
		padding-left: 9.9%;
	}

	.menu__item:nth-child(3) {
		margin-left: 0.3%;
	}

	.menu__item:nth-child(5) {
		margin-left: 0.4%;
	}

	.header__opacity-line {
		position: absolute;
		width: 100%;
		height: 400px;
		margin-top: 77px;
		background-color: black;
		opacity: 0.2;
	}

	.container1__lorem {
		padding-top: 184px;
		margin-left: 8.2%;
	}

	.lorem__left-arrow {
		position: absolute;
		margin-top: 76px;
	}

	.lorem__text {
		position: absolute;
		width: 270px;
		margin-left: 5.2%;
		width: 280px;
	}

	.lorem__white {
		font-size: 48px;
		margin-top: 3px;
		word-spacing: -2px;
	}

	.lorem__pink {
		font-size: 24px;
		margin-top: 20px;
	}

	.lorem__pink960 {
		display: none;
	}

	.lorem__description960 {
		display: none;
	}

	.lorem__description {
		margin-top: 5px;
		color: white;
		font-family: OpenSansLight;
		font-size: 16px;
		line-height: 30px;
	}

	.description__part2 {
		display: inline-block;
		line-height: 22px;
	}

	.description__part3 {
		display: none;
	}

	.lorem__phone {
		display: inline-block;
	}

	.phone__bg-picture {
		position: absolute;
		width: 14%;
		height: auto;
		top: 300px;
		left: 56.8%;
	}

	.phone__picture {
		position: absolute;
		top: 222px;
		left: 65%;
		width: 54%;
		height: 60%;
		background: url(../img/iphone_front.png) no-repeat;
	}

	.phone__play {
		display: block;
		position: absolute;
		top: 27.5%;
		left: 10.5%;
		width: 17%;
		height: 31%;
		background: url(../img/sprite.png) -13px -51px no-repeat;
		background-size: cover;
	}

	.phone__play:hover {
		background-position: -283px 69px;
		top: 77px;
	}

	.lorem__right-arrow {
		position: absolute;
		margin-top: 76px;
		margin-left: 80%;
	}

	.form__slider-nav {
		top: 681px;
		left: 65.1%;
	}

	.form__slider-nav input {
		left: -700px;
		top: 0;
	}

	.container2__about {
		height: 340px;
		overflow: hidden;
	}

	.about__box1 {
		float: left;
		margin-left: 9.8%;
		margin-top: 6px;
	}

	.about__box2 {
		float: left;
		margin-left: 1.4%;
		margin-top: 51px;
	}

	.about__box3 {
		float: left;
		margin-left: 2.3%;
		margin-top: 35px;
	}

	.about__all,
	.about__p960 {
		display: none;
	}

	.about__p {
		width: 165px;
		height: 141px;
		overflow: hidden;
	}

	.about__more {
		margin-top: 9px;
		margin-left: 69%;
	}

	.wrapper__container3 {
		height: 608px;
	}

	.container3__testimonial {
		float: left;
		overflow: hidden;
		width: 313px;
		max-width: 37%;
		height: 267px;
		margin-left: 13.4%;
		margin-top: 104px;
	}

	.testimonial__text320,
	.testimonial__text960 {
		display: none;
	}

	.testimonial__text {
		margin-right: 20px;
		margin-top: 6px;
	}

	.testimonial__image {
		margin-left: 10.5%;
		margin-top: 107px;
	}

	.testimonial__title {
		margin-top: 22px;
		margin-left: 39px;
	}

	.container3__updates {
		float: left;
		margin-left: 6.2%;
		margin-top: 128px;
	}

	.box__text960 {
		display: none;
	}

	.updates__box2 {
		margin-top: 3px;
	}

	.updates__box3 {
		margin-top: -5px;
	}

	.updates__more {
		position: absolute;
		margin-left: 25.6%;
		margin-top: 19px;
	}

	.updates__more960 {
		display: none;
	}

	.container3__line {
		margin-top: -15px;
	}

	.container3__line2 {
		margin-top: 484px;
		border-bottom: 1px rgba(205, 204, 204, 0.42) solid;
	}

	.form__slider-nav-white {
		top: 1536px;
		left: 26%;
	}

	.container3__brands {
		width: 100%;
		margin-left: 11%;
		margin-top: 26px;
		margin-bottom: 0;
	}

	.brands__logo:nth-child(2) {
		margin-left: 5.6%;
		margin-right: 5.4%;
	}

	.brands__logo:nth-child(3) {
		margin: 0;	
	}

	.brands__logo:nth-child(4) {
		margin-left: 6.5%;
	}

	.brands__logo:nth-child(5) {
		position: absolute;
		margin-top: 22px;
		margin-left: 5.8%;
	}

	.brands__logo:last-child {
		margin-left: 22.8%;
		margin-top: 2px;
	}

	.container3__line3 {
		margin-top: 27px;
		border-bottom: 1px rgba(134, 127, 127, 0.42) solid;
	}

	.wrapper__container4 {
		background-color: #ECECEC;
	}

	.container4__news {
		height: 295px;
		margin-left: 10.8%;
		padding-top: 100px;
	}

	.news__categories1,
	.news__categories2,
	.news__categories3 {
		float: left;
		overflow: hidden;
		width: 26%;
		height: 205px;
	}

	.news__categories2 {
		margin-left: 6%;
	}

	.news__categories3 {
		margin-left: 5.5%;
	}



	.categories1__text480,
	.categories2__text480,
	.categories3__text480 {
		display: none;
	}

	.categories1__title,
	.categories2__title,
	.categories3__title {
		text-transform: uppercase;
		text-shadow: 0.5px 0.9px 0 white;
		color: #454545;
		font-family: LeagueGothic;
		font-size: 24px;
		font-weight: 400;
		line-height: 24px;
	}

	.categories1__title960,
	.categories1__copyright,
	.categories2__title960,
	.categories1__text960,
	.categories2__text960,
	.categories3__text960 {
		display: none;
	}

	

	.categories1__text,
	.categories2__text,
	.categories3__text {
		margin-top: 9px;
		text-shadow: 0.5px 0.9px 0 white;
		color: #787878;
		font-family: OpenSans;
		font-size: 16px;
		font-weight: 300;
		line-height: 24px;
		word-spacing: -2px;
	}

	.footer__f-menu {
		float: right;
		width: 89%;
		margin-top: 39px;
	}

	.f-menu__item {
		display: inline-block;
		margin-right: 4.7%;
	}

	.f-menu__link {
		text-shadow: 1px 1.7px 2px rgba(0, 0, 0, 0.4);
		color: white;
		font-family: LeagueGothic;
		font-size: 20px;
		font-weight: 400;
		line-height: 34px;
		text-transform: uppercase;
		text-decoration: none;
	}

	.footer__text {
		padding-top: 103px;
		margin-left: 74%;
	}


}