@media all and (max-width: 479px) {
	.container1__header,
	.container2__about,
	.container3__testimonial,
	.container3__updates,
	.container3__brands,
	.footer__designed {
		width: 100%;
	}

	.container1__header {
		height: 516px;
		border-bottom: 1px solid #33253a;
	}

	.container1__line {
		display: none;
	}

	.header__opacity-line {
		display: none;
	}

	.header__name {
		margin-left: 33.3%;
	}

	.header__menu {
		float: none;
		margin-top: 145px;
		margin-left: 44.7%;

	}

	.menu__list {
		position: absolute;
		overflow: hidden;
		height: 30px;
		width: 50px;
		transition: height 0.2s linear;
	}

	.menu__list:first-child {
		border-bottom: 2px solid #edbfff;	
	} 

	.menu__list:hover {
		height: 149px;
		width: 140px;
	}

	.menu__item:first-child {
		border-bottom: 2px solid #edbfff;
	}

	.menu__link {
		line-height: 30px;
	}

	.container1__lorem {
		width: 90%;
		padding-top: 152px;
		margin-left: 14%;
	}

	.lorem__pink960 {
		display: none;
	}

	.lorem__description,
	.lorem__description960 {
		display: none;
	}


	.lorem__left-arrow {
		
		margin-left: 0;
		
	}

	.lorem__right-arrow {
		
		margin-left: 0;
	}

	.lorem__text {
		margin-left: 10%;
		margin-right: 5.5%;
	}

	.lorem__phone {
		display: none;
	}

	.form__slider-nav {
		left: 42%;
	}

	.container2__about {
		padding-top: 16%;
		height: 526px;
	}

	.about__box1,
	.about__box2,
	.about__box3 {
		overflow: hidden;
		margin-left: 16%;
		
	}

	.about__key1 {
		margin-top: 0.7%;
		margin-left: 7%;
	}

	.about__key2 {
		margin-top: 7%;
		margin-left: 7%;
	}

	.about__key3 {
		margin-top: 11.5%;
		margin-left: 7%;
	}

	.about__section1 {
		margin-top: 0.5%;
		margin-left: 4%;
	}

	.about__section2 {
		margin-top: 7%;
		margin-left: 4%;
	}

	.about__section3 {
		margin-top: 12%;
		margin-left: 4%;
	}

	.about__more {
		margin-top: 4%;
		margin-left: 62%;

	}

	.about__span768,
	.about__all,
	.about__p960 {
		display: none;
	}

	.container3__line2 {
		display: none;
	}

	.container3__testimonial {
		margin-left: 24%;
		width: 256px;
		overflow: hidden;
	}

	.testimonial__text768 {
		display: none;
	}

	.testimonial__image {
		margin-top: 14%;
		margin-left: 18%;
	}

	.box__text480,
	.box__text960,
	.box__title960 {
		display: none;
	}

	.box1__title,
	.box2__title,
	.box3__title {
		width: 70%;
		height: 22px;
		overflow: hidden;
	}

	.testimonial__text-box {
		height: 172px;
	}

	.box1__text,
	.box2__text,
	.box3__text {
		width: 90%;
		height: 22px;
		overflow: hidden;
	} 

	.form__slider-nav-white {
		left: 47%;
	}

	.updates__more960 {
		display: none;
	}

	.container3__updates {
		margin-left: 18.5%;
	}

	.container3__brands {
		margin-left: 28%;
		width: 235px;
	}

	.container3__line3 {
		display: none;
	}

	.wrapper__container4,
	.footer__f-menu {
		display: none;
	}

	.footer__text {
		margin-left: 35%;
	}

}