@media all and (max-width: 767px) and (min-width: 480px) {
/*	.container1__header,
	.container2__about,
	.container3__testimonial,
	.container3__updates,*/
	.footer__designed {
		width: 100%;
	}

	.container1__header {
		height: 548px;
		border-bottom: 1px solid #33253a;
	}

	.container1__line {
		display: none;
	}

	.header__name {
		margin-left: 39.5%;
	}

	.header__menu {
		float: none;
		margin-top: 131px;
		margin-left: 22.1%;
	}

	.menu__link {
		display: inline;
		line-height: 37px;
		padding-bottom: 1px;
		
	}	

	.menu__link:hover {
		border-bottom: none;
}

	.menu__list {
		position: absolute;
		overflow: hidden;
		z-index: 5;
		height: 46px;
		width: 246px;
		border: 1px solid #051116;
		margin-left: 80px;
		background: rgba(54,41,62,0.9);
		border-radius: 10px;
		transition: height 0.2s linear;
	}

	.menu__list:hover {
		height: 257px;
	}

	.menu__item {
		display: block;
		height: 28px;
		border-top: 1px solid #4f3d57;
		margin-right: 0;
		padding: 6px 0;
		text-align: center;
	}

	.menu__item:first-child {
		border-bottom: 2px solid #edbfff;
		margin-right: 100px;
		margin-left: 96px;
	}

	.menu__item:hover {
		border-bottom: 2px solid #edbfff;
		background: rgba(38,29,43,0.9);
	}

	.header__opacity-line {
		position: absolute;
		width: 100%;
		height: 246px;
		margin-top: 72px;
		background-color: black;
		opacity: 0.2;
	}

	.container1__lorem {
		padding-top: 166px;
		margin-left: 17%;
	}

	.lorem__description,
	.lorem__description960 {
		display: none;
	}

	.lorem__left-arrow {
		position: absolute;
		margin-top: 12px;
		margin-left: 0;
	}

	.lorem__text {
		position: absolute;
		width: 30%;
		margin-left: 5.5%;
	}

	.lorem__pink960 {
		display: none;
	}

	.lorem__right-arrow {
		position: absolute;
		margin-left: 62%;
		margin-top: 12px;
	}

	.lorem__phone {
		display: inline-block;
	}

	.phone__bg-picture {
		position: absolute;
		width: 13%;
		height: auto;
		top: 237px;
		right: 35.5%;
	}

	.phone__picture {
		position: absolute;
		top: 193px;
		right: -9.5%;
		width: 50%;
		height: 60%;
		background: url(../img/iphone_front.png) no-repeat;
		background-size: 37.8%;
	}

	.phone__play {
		display: block;
		position: absolute;
		top: 28.5%;
		left: 11.5%;
		width: 15%;
		height: 31%;
		background: url(../img/sprite.png) -12px -34px no-repeat;
		background-size: cover;
	}

	.phone__play:hover {
		background-position: -199px 46px;
		top: 59px;

	}

	.form__slider-nav {
		top: 471px;
		left: 45%;
	}

	.about__box1 {
		margin-top: 0;
		margin-left: 21.3%;
		margin-bottom: 4%;
		height: 30%;
		width: 450px;
		max-width: 70%;
		overflow: hidden;
	}

	.about__box2,
	.about__box3 {
		margin-left: 21.3%;
		margin-bottom: 3%;
		height: 21%;
		width: 450px;
		max-width: 70%;
		overflow: hidden;
	}

	.about__box3 {
		height: 24%; 
	}

	.about__key1 {
		position: absolute;
		margin-left: 0.4%;
		margin-top: 76px;
	}

	.about__key2 {
		position: absolute;
		margin-left: 0.4%;
		margin-top: 24px;
	}

	.about__key3 {
		position: absolute;
		margin-left: 0.4%;
		margin-top: 38px;
}

	.about__section1 {
		margin-top: 77px;
		margin-left: 12%;
	}

	.about__section2 {
		margin-top: 25px;
		margin-left: 12%;
	}

	.about__section3 {
		margin-top: 41px;
		margin-left: 12%;
	}

	.about__p {
		width: 96%;
		margin-left: 0;
	}

	.about__more {
		position: absolute;
		margin-top: -280px;
		margin-left: 50.3%;
	}

	.wrapper__container3 {
		height: 1002px;
	}

	.container3__line2 {
		display: none;
	}

	.container3__testimonial {
		margin-left: 23%;
		width: 416px;
	}

	.testimonial__text {
		display: none;
	}

	.testimonial__image {
		margin-top: 8.3%;
		margin-left: 19.5%;
	}

	.testimonial__title {
		font-size: 30px;
		margin-left: 9.4%;
	}

	.testimonial__span {
		display: inline-block;
	}

	.testimonial__text960 {
		width: 86%;
		margin-left: 9.4%;
		margin-top: 2.7%;
		margin-right: 33px;
		display: inline-block;
		color: #454545;
		font: 16px OpenSansLight, Arial, sans-serif;
		line-height: 24px;
	}

	.form__slider-nav-white {
		top: 1511px;
		left: 45.9%;
	}

	.container3__updates {
		margin-left: 28.5%;
	}

	.box__text960 {
		display: none;
	}

	.box2__picture,
	.box2__figcaption {
		margin-top: 19px;
	}

	.box3__picture,
	.box3__figcaption {
		margin-top: 17px;
	}

	.updates__more {
		margin-top: 19px;
		margin-left: 47.5%;
	}

	.updates__more960 {
		display: none;
	}

	.container3__brands {
		/*width: 373px;*/
		margin-left: 25.5%;
		margin-top: 37px;
	}

	.brands__logo:first-child {
		position: absolute;
		margin-left: 3%;
		margin-right: 13.5%;
	}

	.brands__logo:nth-child(2) {
		position: absolute;
		margin-left: 20%;
		margin-right: 0;
	}

	.brands__logo:nth-child(3) {
		position: absolute;
		margin-top: 0;
		margin-left: 37%;
		margin-right: 0;
	}

	.brands__logo:nth-child(4) {
		position: absolute;
		margin-left: 1%;
		margin-top: 12.3%;
		margin-right: 0;
	}

	.brands__logo:nth-child(5) {
		position: absolute;
		margin-top: 15.4%;
		margin-left: 15.7%;
	}

	.brands__logo:last-child {
		position: absolute;
		margin-left: 37.2%;
		margin-top: 12.5%;
	}

	.container3__line3,
	.categories1__copyright,
	.categories1__title960,
	.categories2__title960,
	.categories3__title960,
	.categories1__text960,
	.categories2__text960,
	.categories3__text960,
	.categories1__text768,
	.categories2__text768,
	.categories3__text768 {
		display: none;
	}

	.wrapper__container4 {
		background-color: #ECECEC;
	}

	.container4__news {
		margin-left: 19.6%;
		margin-top: 10.8%;
		padding-bottom: 11.4%;
	}

	.categories1__title,
	.categories2__title,
	.categories3__title {
		text-transform: uppercase;
		text-shadow: 0.5px 0.9px 0 white;
		color: #454545;
		font-family: LeagueGothic;
		font-size: 24px;
		font-weight: 400;
		line-height: 24px;
	}

	.categories2__title {
		margin-top: 8.8%;
	}

	.categories3__title {
		margin-top: 9.4%;
	}

	.categories1__text,
	.categories2__text,
	.categories3__text {
		overflow: hidden;
		width: 78%;
		height: 100px;
		margin-top: 1.5%;
		text-shadow: 0.5px 0.9px 0 white;
		color: #787878;
		font-family: OpenSans;
		font-size: 16px;
		font-weight: 300;
		line-height: 24px;
		word-spacing: -2px;
	}

	.container4__line {
		border-bottom: 1px rgba(205, 204, 204, 0.42) solid;
	}

	.footer__f-menu {
		float: right;
		width: 80%;
		margin-top: 39px;
	}

	.f-menu__item {
		display: inline-block;
		margin-right: 3.5%;
	}

	.f-menu__link {
		text-shadow: 1px 1.7px 2px rgba(0, 0, 0, 0.4);
		color: white;
		font-family: LeagueGothic;
		font-size: 20px;
		font-weight: 400;
		line-height: 34px;
		text-transform: uppercase;
		text-decoration: none;
	}

	.footer__text {
		padding-top: 103px;
		margin-left: 40.5%;
	}
























