@media all and (min-width: 960px) {
	
	.container1__header {
		width: 100%;
		height: 847px;
	}

	.container1__line {
		margin-top: 846px;
	}

	.lorem__left-arrow {
		position: absolute;
		margin-top: 99px;
		margin-left: -16.7%;
	}

	.header__name {
		float: left;
		position: relative;
		margin-left: 24.7%;
	}

	.header__menu {
		margin-top: 73px;
		margin-right: 24.8%;
	}

	.menu__item {
		margin-right: 38px;
	}

	.header__opacity-line960 {
		position: absolute;
		width: 100%;
		height: 400px;
		margin-top: 278px;
		background-color: black;
		opacity: 0.2;
	}

	.container1__lorem {
		margin-left: 24.7%;
		padding-top: 362px;
	}

	.lorem__text {
		width: 525px;
		max-width: 40%;
		margin-left: 0;
		line-height: 36px;
	}

	.lorem__white {
		font-size: 60px;
		word-spacing: -0.5px;
		letter-spacing: -0.5px
	}

	.lorem__pink {
		font-size: 32px;
		margin-top: 11px;
	}

	.lorem__description {
		display: none;
	}

	.lorem__description960 {
		margin-top: 4px;
		color: white;
		font-family: OpenSansLight;
		font-size: 18px;
		line-height: 23px;
	}

	.description960__part2 {
		word-spacing: -1px;
	}

	.description960__part3 {
		line-height: 25px;
		word-spacing: -0.5px;
		letter-spacing: -0.4px;
	}

	.lorem__phone {
		display: inline-block;
	}

	.phone__bg-picture {
		position: absolute;
		width: 6.9%;
		height: auto;
		min-height: 30%;
		top: 338px;
		right: 36%;
	}

	.phone__picture {
		position: absolute;
		top: 261px;
		right: -15%;
		width: 54%;
		height: 60%;
		background: url(../img/iphone_front.png) no-repeat;
	}

	.phone__play {
		display: block;
		position: absolute;
		top: 26.7%;
		left: 5.7%;
		width: 80px;
		height: 143px;
		background: url(../img/sprite.png) -13px -51px no-repeat;
		background-size: cover;
	}

	.phone__play:hover {
		background-position: -273px 66px;
		top: 83px;
	}

	.lorem__right-arrow {
		position: absolute;
		margin-top: 99px;
		margin-left: 36.8%;
	}

	.form__slider-nav {
		top: 772px;
		left: 62.1%;
	}

	.form__slider-nav input {
		left: -1500px;
		top: 0;
	}

	.container2__about {
		height: 340px;
		overflow: hidden;
	}

	.about__key1 {
		margin-left: 26px;
		margin-top: 72px;
	}

	.about__key2 {
		margin-left: 17px;
		margin-right: 3px;
		margin-top: 24px;
		background-position: -102px -15px;
	}

	.about__key3 {
		margin-left: 16px;
		margin-right: 5px;
		margin-top: 40px;
		background-position: -151px -16px;
	}

	.about__box1 {
		float: left;
		margin-left: 24%;
		margin-top: 8px;
	}

	.about__h2 {
		font-size: 30px;
	}

	.about__p {
		width: 223px;
		margin-top: 12px;
	}

	.about__box2 {
		float: left;
		margin-left: 2.4%;
		margin-top: 54px;
	}

	.about__box3 {
		float: left;
		margin-left: 2.2%;
		margin-top: 38px;
	}

	.about__p {
		display: none;
	}

	.about__p960 {
		width: 223px;
		margin-top: 12px;
		margin-left: 1px;
		line-height: 24px;
		font-family: OpenSansLight;
		font-size: 16px;
		font-weight: 300;
		text-shadow: 0.5px 0.9px 0 #0f1518;
		word-spacing: -0.8px;
	}

	.about__more {
		margin-top: 20px;
		margin-left: 79%;
	}

	.wrapper__container3 {
		height: 608px;
	}

	.container3__testimonial {
		float: left;
		overflow: hidden;
		width: 426px;
		max-width: 25%;
		height: auto;
		margin-left: 25.95%;
		margin-top: 99px;
		background: url(../img/quote.png) no-repeat;
		box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.05);
	}

	.testimonial__text-box {
		height: 230px;
	}

	.testimonial__text {
		display: none;
	}

	.testimonial__text960 {
		height: 197px;
		display: inline-block;
		overflow: hidden;
		margin-left: 9%;
		margin-top: 6px;
		margin-right: 6%;
		margin-bottom: 0;
		color: #454545;
		font: 16px OpenSansLight, Arial, sans-serif;
		line-height: 24px;		
	}

	.testimonial__image {
		margin-left: 24.5%;
		margin-top: 107px;
	}

	.testimonial__title {
		margin-top: 26px;
		margin-left: 39px;
		font-size: 30px;
	}

	.testimonial__span {
		display: inline-block;
	}

	.container3__updates {
		float: left;
		margin-left: 3.16%;
		margin-top: 128px;
	}

	.updates__box2 {
		margin-top: 2px;
	}

	.updates__box3 {
		margin-top: -7px;
	}

	.updates__more {
		display: none;
	}

	.updates__more960 {
		position: absolute;
		display: block;
		margin-top: 22px;
		margin-left: 18.15%;
		text-decoration: none;
		text-transform: uppercase;
		text-shadow: 0.5px 0.9px 0 white;
		color: #454545;
		font-family: LeagueGothic;
		font-size: 19px;
		font-weight: 400;
		letter-spacing: -0.3px;
	}

	.container3__line {
		margin-top: -15px;
	}

	.container3__line2 {
		margin-top: 484px;
		border-bottom: 1px rgba(205, 204, 204, 0.42) solid;
	}

	.form__slider-nav-white {
		top: 1583px;
		left: 35.2%;
	}

	.container3__brands {
		width: 100%;
		margin-left: 29.65%;
		margin-top: 25px;
		margin-bottom: 0;
	}

	.brands__logo:nth-child(2) {
		margin-left: 3.2%;
		margin-right: 3.15%;
	}

	.brands__logo:nth-child(3) {
		margin: 0;	
	}

	.brands__logo:nth-child(4) {
		margin-left: 3.75%;
	}

	.brands__logo:nth-child(5) {
		position: absolute;
		margin-top: 22px;
		margin-left: 3.35%;
	}

	.brands__logo:last-child {
		margin-left: 12.2%;
		margin-top: 2px;
	}

	.container3__line3 {
		margin-top: 27px;
		border-bottom: 1px rgba(134, 127, 127, 0.42) solid;
	}

	.wrapper__container4 {
		background-color: #ECECEC;
	}

	.container4__news {
		height: 302px;
		margin-left: 24.65%;
		padding-top: 93px;
	}

	.news__categories1,
	.news__categories2,
	.news__categories3 {
		float: left;
		overflow: hidden;
		width: 20%;
		height: 205px;
	}

	.news__categories2 {
		margin-left: 3.65%;
		margin-top: 5px;
	}

	.news__categories3 {
		margin-left: 3.7%;
		margin-top: 5px;
	}

	.categories1__title,
	.categories2__title,
	.categories1__text,
	.categories2__text,
	.categories3__text {
		display: none;
	}

	.categories1__title960 {
		text-transform: uppercase;
		text-shadow: 0 1px 0 white;
		color: #454545;
		font-family: LeagueGothic;
		font-size: 48px;
		font-weight: 400;
		letter-spacing: -0.4px;
	}

	.title960__span {
		text-transform: uppercase;
		text-shadow: 0 1px 0 white;
		color: #b9b9b9;
		font-family: LeagueGothic;
		font-size: 48px;
		font-weight: 400;
		line-height: 34px;
	}

	.categories1__copyright {
		margin-top: 10px;
		text-shadow: 0.5px 0.9px 0 white;
		color: #c5c5c5;
		font-family: Georgia;
		font-size: 16px;
		font-style: italic;
		line-height: 24px;
	}


	.categories2__title960,
	.categories3__title {
		text-transform: uppercase;
		text-shadow: 0.5px 0.9px 0 white;
		color: #454545;
		font-family: LeagueGothic;
		font-size: 30px;
		font-weight: 400;
		line-height: 24px;
	}

	.categories1__text960,
	.categories2__text960,
	.categories3__text960 {
		margin-top: 6px;
		text-shadow: 0.5px 0.9px 0 white;
		color: #787878;
		font-family: OpenSans;
		font-size: 16px;
		font-weight: 300;
		line-height: 24px;
		word-spacing: -2px;
	}

	.categories2__text960,
	.categories3__text960 {
		margin-top: 11px;
	}

	.footer__f-menu {
		float: right;
		width: 75.3%;
		margin-top: 39px;
	}

	.f-menu__item {
		display: inline-block;
		margin-right: 2.7%;
	}

	.f-menu__link {
		text-shadow: 1px 1.7px 2px rgba(0, 0, 0, 0.4);
		color: white;
		font-family: LeagueGothic;
		font-size: 20px;
		font-weight: 400;
		line-height: 34px;
		text-transform: uppercase;
		text-decoration: none;
	}

	.footer__designed {
		height: 115px;
	}
	.footer__text {
		position: absolute;
		margin-left: 68%;
		margin-top: 12px;
	}





}